{% extends 'basecopy.html' %}
{% load static %}
{% block content %}
<br>
 <div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
             <div class="row align-items-center justify-content-center"> 
           <div class="col-xl-8"> 
                    <div class="slider_text text-center justify-content-center">
                        <br>
                        <br>
    <h1>Update Password</h1>
    <br>
    
    <form method="post">
        {% csrf_token %}
        <label for="email">email:</label><br>
        <input type="text" id="email" name="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required><br>
        <br>
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required >
        <br>
        <br>
        
        <input type="submit" value="Update Password">
    </form>
 </div> 
 </div> 
 </div>
</div>
</div>
</div>
<br>
<br><br>
<br>
<br>
                        <br>
                        <br>
                        <br>

{% endblock %}